<article>
  <span class="meta">
    <a href="{{ include.post.web }}">{{ include.post.author }}</a>;
    {{ include.post.date | date: "%d.%m.%Y" }}
  </span>

  {% if include.single %}
    <h2>{{ include.post.title }}</h2>
  {% else %}
    <h2><a href="{{ post.url }}">{{ include.post.title }}</a></h2>
  {% endif %}

  {% if include.single %}
    {{ content }}
  {% else %}
    {{ include.post.excerpt }}
  {% endif %}

  {% unless include.single %}
    <a href="{{ post.url }}">Читать дальше...</a>
  {% endunless %}
</article>
