---
layout: default
---

<section id="content">
  {% include single.html post=page preview=false single=true %}
</section>

<aside class="gs-nav">
  <h3>Elixir</h3>
  <ol>
    <li><a href="/getting_started/1.html">Введение</a></li>
    <li><a href="/getting_started/2.html">Погружение</a></li>
    <li><a href="/getting_started/3.html">Модули</a></li>
    <li><a href="/getting_started/4.html">Records, Protocols & Exceptions</a></li>
    <li><a href="/getting_started/5.html">Макросы</a></li>
    <li><a href="/getting_started/6.html">Дополнительный материал</a></li>
    <li><a href="/getting_started/7.html">Что дальше?</a></li>
  </ol>
  <h3>Mix - a build tool for Elixir</h3>
  <ol>
    <li><a href="/getting_started/mix/1.html">Введение</a></li>
    <li><a href="/getting_started/mix/2.html">Разработка OTP приложений</a></li>
    <li><a href="/getting_started/mix/3.html">Создание задач</a></li>
  </ol>
  <h3>ExUnit - a unit test framework</h3>
  <ol>
    <li><a href="/getting_started/ex_unit/1.html">Введение</a></li>
  </ol>
</aside>
